
/* === ScoreScope Branding === */
body {
    background-color: #000000;
    font-family: 'Figtree', sans-serif;
    color: #FFFFFF;
}

h1, h2, h3, h4 {
    font-family: 'Figtree', sans-serif;
    color: #FFFFFF;
}

h1 {
    font-size: 70px;
}

p, label, span {
    color: #8A8181;
}

/* Apply to all Streamlit buttons */
button {
    background: linear-gradient(90deg, #814AC8, #667eea);
    color: #ffffff !important;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    padding: 0.75rem 1.5rem;
    transition: background 0.3s ease;
}

/* Optional: button hover effect */
button:hover {
    background: linear-gradient(90deg, #6f3ab2, #566bdc);
    cursor: pointer;
}


input[type="file"], textarea {
    background-color: #111111 !important;
    color: white !important;
    border: 1px solid #814AC8 !important;
    border-radius: 6px !important;
}

section.main > div {
    padding: 2rem;
}
